@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.bgMainTop {
  background-image: url('./assets/bg03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  @media (min-width: 1024px) {
    background-position: center;
  }
}

.bgMainMiddle {
  background-image: url('./assets/bg01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  @media (min-width: 1024px) {
    background-position: center;
  }
}